.userImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

.imgWrapper{
  height: 300px;
  border-radius: inherit;
}

.initials{
  background-color: black;
  position: absolute;
  inset: 0;
}