.card {
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  margin: 30px auto;
}

.changeBtn{
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: rgba(43, 43, 202, 0.555);
}
.changeBtn:hover{
  background-color: rgba(7, 7, 204, 0.555);
}